# IDEs
.idea/
.vscode/
.vs/

# Python
__pycache__/
.coverage
.pytest_cache/
calculator.egg-info
dist/

# Node
node_modules/

# Terraform
.terraform*
*.tfstate*

# Ansible
hosts.ini

# AWS
credentials
